<div *ngIf="this.required?.showHeader || this.required?.showFooter">
    <div class="backdrop" [ngClass]="{'backdrop':showAsPopUp}"></div>

    <div class="general-reusable-content"
        [ngClass]="{'show-as-popup':showAsPopUp, 'small': size==='small', 'medium': size==='medium', 'large': size==='large'}">
        <div *ngIf="showHeader" class="reusable-header" [ngClass]="{'show-as-popup-corners':showAsPopUp}"
            [ngClass]="statusType">
            <div class="reusable-header-value">
                <h3> {{ headerOne }} </h3>
            </div>
            <div class="reusable-header-action">
                <button mat-raised-button *ngIf="showAsPopUp" (click)="onClose()">
                    close-btn/icons
                </button>
            </div>
        </div>
        <div class="reusable-content">
            <br>
            <br>
            <p class="text-center" [ngStyle]="{color: color}">
                {{message}}
            </p>
        </div>

        <div class="reusable-footer" *ngIf="showAsPopUp && showFooter">
            <div class="reusable-footer-value">
                <h5> {{ footerHeading }}</h5>
            </div>
            <div class="reusable-footer-action">
                <button *ngIf="!confirmation" mat-raised-button (click)="onClose()">
                    close-btn
                </button>
                <div *ngIf="confirmation">
                    <button class="m-1" mat-raised-button (click)="onClose('NO')">
                        No
                    </button>
                    <button class="m-1" mat-raised-button (click)="onClose('YES')">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>